[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
numpy = "*"
pandas = "*"
shapely = "*"
fiona = "*"
six = "*"
pyproj = "*"
matplotlib = "*"
descartes = "*"
tensorflow = "*"
keras-pandas = "*"
sklearn = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
