[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
numpy = "*"
pandas = "*"
shapely = "*"
fiona = "*"
six = "*"
pyproj = "*"
matplotlib = "*"
descartes = "*"
tensorflow = "*"
keras-pandas = "*"
sklearn = "*"
imblearn = "*"
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymysql = "*"
affine = "*"
gdal = "*"
ete3 = "*"


[dev-packages]

[requires]
python_version = "3.6"
